/* Футер */

@import url('reset.css');

/* Підключення шрифту */
@font-face {
    font-family: 'e-Ukraine';
    src: url('../fonts/e-UkraineHead-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #FFDD8B;
    padding: 3vw 4vw 2.5vw 4vw;
    transition: all 0.5s ease; 
}

ol, ul {
    padding-left: 0;
}

.logo {
    width: 16vw;
    transition: all 0.5s ease; 
}

.footer_logo  {
    border-radius: 0.80vw;
    width: 100%; /* Щоб логотип масштабувався за розміром контейнера */
    height: auto; /* Збереження пропорцій */
}

.title {
    font-size: clamp(10px, 2vw, 200px);
    transition: all 0.5s ease; 
}

.title_ins {
    font-size: clamp(10px, 1vw, 200px);
    transition: all 0.5s ease;
}

.creator_info {
    width: 100%;
    font-size: clamp(10px, 1.5vw, 200px);
    text-align: center;
    margin-top: 2vw;
    transition: all 0.5s ease;
}

@media (max-width: 991px) {
    footer {
        flex-direction: column;
        align-items: center;
    }

    .footer_logo {
        border-radius: 5vw;
        width: 100%; /* Щоб логотип масштабувався за розміром контейнера */
        height: auto; /* Збереження пропорцій */
    }

    .logo {
        width: 40vw;
        transition: all 0.5s ease; 
        text-align: center;
        margin-bottom: 5vw;
        border-radius: 0.80vw;
    }
    
    .contact_info, .adress_info {
        width: 100%;
        text-align: center;
        margin-bottom: 2vw;
    }
    .title {
        font-size: clamp(20px, 4vw, 200px);
        transition: all 0.5s ease; 
    }
    
    .title_ins {
        font-size: clamp(15px, 3vw, 200px);
        transition: all 0.5s ease;
    }
    
    .creator_info {
        width: 100%;
        font-size: clamp(15px, 2vw, 200px);
        text-align: center;
        margin-top: 2vw;
        transition: all 0.5s ease;
    }
}
