@import url('reset.css');

@font-face {
    font-family: 'e-Ukraine';
    src: url('../fonts/e-UkraineHead-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'e-Ukraine', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    margin: 40px 0 20px;
    font-size: clamp(20px, 2vw, 300px);
    font-weight: bold;
    transition: font-size 0.5s;
}

.navbar {
    padding: 2%;
    background-color: #FFDD8B;
    border-radius: 50px;
    box-shadow: 4px 4px 27px rgba(0, 0, 0, 0.25);
    transition: border-radius 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 1);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(0, 0, 0, 1);
}

.navbar-brand img {
    border-radius: 0.80vw;
}

.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    flex-grow: 1;
    text-align: center;
    position: relative;
    border-radius: 50px;
    transition: background-color 0.5s ease;
    
}

.nav-item:hover {
    background-color: #f8f9fa;
}

.nav-item .nav-link {
    width: 100%;
    display: block;
    text-decoration: none;
    color: black !important;
    cursor: pointer;
    display: flex; /* Додаємо Flexbox */
    justify-content: center; /* Вирівнюємо по центру по горизонталі */
    align-items: center; /* Вирівнюємо по центру по вертикалі */
}

.dropdown-menu {
    background-color: #539C39;
}

.dropdown-item {
    color: #ffffff;
    font-size: clamp(18px, 1vw, 100px);

}

.timer {
    background: #539C39;
    color: #ffffff;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0 0 51px 51px;
    transition: padding 0.5s;
}

@media (max-width: 991px) {
    .timer {
        padding: 10px 0;
    }
    .navbar-collapse {
        padding: 10px 0;
    }
    .nav-item {
        padding: 8px; /* Додаємо відступи до кнопок */
        text-align: center; /* Вирівнюємо текст по центру */
    }
    .nav-link {
        padding: 10px 0; /* Додаємо відступи до посилань */
    }
    .navbar {
        border-radius: 50px 50px 0 0;
    }
    .nav-item {
        border-radius: 25px;
    }
}
